* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    width: 1440px; 
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

button {
border: none;
outline: none;
background: none;
}

 /*============= */

.content {
    padding: 0 135px;
    margin: auto;
}

:root {
   --primary-color: #000958 ;
}

main {

   height: 10000px;
}

a {
text-decoration: none;
color: transparent;
}

.desc {
   color: #656689;
   font-size: 1.6rem;
   font-weight: 400;
}

/* =====HEADER-TOP===== */
header {
   position: sticky;
   top: 0;
   z-index: 1;
   background-color: white;
}
.header--top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 12px;
   margin-top: 14px;
   padding-bottom: 12px;
}

.pagelogo {
cursor: pointer;
}

.navbar {
   display:flex ;
   gap: 36px;
}

.navbar--element {
   color: #5E6085;
   font-size: 14px;
   font-weight: 500;
   line-height: 14px;
}

.navbar--element:hover {
   color: var(--primary-color);
}

.btn--signUp {
   padding: 18px 32px;
   border: 1px solid var(--primary-color);
   border-radius: 25px;
   color: var(--primary-color);
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 14px; 
   cursor: pointer;
}

.btn--signUp:hover{
   opacity: 0.7;
}


.header--under {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-top: 100px;
}

.header--under-img__cat {
   width: 388px;
   height: 488px;
   border-radius: 16px;
   background: #FE997B;
}

.header--bg-img__circle {
   position: absolute;
   top: 248px;
   left: 58px;
   z-index: -1;
}

.header--bg-img__rectangle {
   position: absolute;
   top: 17px;
   left: 512px;
   z-index: -1;
}

.header--unde-img__dog {
   position: absolute;
   top: 302px;
   left: 503px; 
   width: 186px;
   height: 244px;
   border-radius: 16px;
   border-radius: 16px;
   border: 2px solid rgba(255, 255, 255, 0.65);
   background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
   box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.header--unde-img__dog .img--dog {
   transform: translateY(20px);
}

.header-card {
   position: absolute;
   top: 426px;
   left: 265px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 250px;
   height: 156px;
   padding: 18px 14px;
   border-radius: 10px;
   background: #FFF;
   box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.header-card::after {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   content: '';
   width: 222px;
   height: 2px;
   background: #F2F2F2;
}

.header-card--element {
   display: flex;
   gap: 10px;
}

.header-card--element img {
   width: 40px;
   height: 40px;
   border-radius: 10px;
   background: #FEC23F;
}

.header-card--element:nth-child(2) img {
   background: #C6E2FA;
}

.header-card--element p {
   transform: translateY(2px);
   position: relative;
   color: #181E52;
   font-family: Sora;
   font-size: 14px;
   font-weight: 600;
   line-height: 14px; /* 100% */
}

.header-card--element p::before {
   position: absolute;
   top: 20px;
   left: 1px;
   display: inline-block;
   content: '';
   width: 118px;
   height: 4px;
   border-radius: 10px;
   opacity: 0.08;
   background: #000958;
}

.header-card--element p::after {
   position: absolute;
   top: 31px;
   left: 1px;
   display: inline-block;
   content: '';
   width: 39px;
   height: 4px;
   border-radius: 10px;
   opacity: 0.08;
   background: #000958;
}

.header--title {
   margin-top: 71px;
   width: 517px;
   color: var(--primary-color);
   font-size: 6.6rem;
   font-weight: 800;
   line-height: 1.16; /* 115.152% */
}

.header--desc {
   margin-top: 24px;
   width: 391px;
   color: #656689;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.87; /* 187.5% */
}

.header--action {
   display: flex;
   align-items: center;
   gap: 24px;
}

.book-a-meet--btn {
   margin-top: 38px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 189px;
   height: 60px;     
   padding: 20px 30px;
   border-radius: 31px;
   background: #FF5B2E;
   box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
   color: #FFF;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1; /* 100% */
   cursor: pointer;
}

.book-a-meet--btn:hover {
   opacity: 0.8;
}

.book-a-meet--btn span {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #FFF;
}

.book-a-meet--btn span::before {
   position: relative;
   left: -1px;
   top: -1px;
   display: inline-block;
   content: '';
   width: 3px;
   height: 3px;
   border: 1px solid ;
   border-color: #FF5B2E #FF5B2E transparent transparent;
   transform: rotateZ(45deg) ;
}

.btn--call {
   transform: translateY(100%);
   color: #000958;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1; /* 100% */
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
   cursor: pointer;
}

/* =====ABOUT===== */

.about {
   position: relative;
   margin-top: 130px;
   display: flex;
   justify-content: space-between;
}

.about--title {
   padding-top: 108px;
   width: 446px;
   color: #000958;
   font-size: 5.2rem ;
   font-weight: 700;
   line-height: 1.2; /* 119.231% */
}

.about--desc {
   margin-top: 24px;
   width: 431px;
   line-height: 1.87; /* 187.5% */
}

.reputation--group {
   transform: translateX(-15px);
   margin-top: 54px;
   display: grid; 
   width: 477px;
   grid-template-columns: 1fr 1fr; 
   grid-template-rows: 1fr 1fr;
}

.reputation--element p {
   position: relative;
   white-space: nowrap;
   top: -3px;
   color: #48496A;
   font-size: 1.8rem;
   font-weight: 500;
   line-height: 1; /* 100% */
}

.reputation--element {
   display: flex;
   align-items: center;
}

.about--img {
   position: relative;
}

.about--img span {
   display: inline-block;
   position: absolute;
   bottom: 3px;
   width: 494px;
   height: 336px;
   border-radius: 16px;
   background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
   z-index: -1;
}

.about--card {
   position: absolute;
   top: 165px;
   right: 555px;
   padding: 30px 27px;
   width: 136px;
   height: 156px;
   border-radius: 10px;
   background: #5BD6E2;
   box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-card--title {
   color: #FFF;
   text-align: center;
   font-size: 4.2rem;
   font-weight: 700;
}

.about-card--desc {
   margin-top: 14px;
   color: #C6F4F9;
   text-align: center;
   font-size: 1.4rem;
   font-weight: 400;
   line-height: 20px; /* 142.857% */
}

.dau-chan {
   position: absolute;
   top: -40px;
   left: 85px;
}

.about-bg {
   position: absolute;
   top: 149px;
   right: 0;
}

